<section class="strengths">
    <h2 class="strengths__title">Our Strengths</h2>
    <p class="strengths__intro">We create functional and highly converting websites.</p>
    <div class="strengths__content">
        <article class="strength-card">
            <div class="strength-card__image-container">
                <img width="40" class="strength-card__image" src="img/thumb-up.svg" alt="Thumb up">
            </div>
            <h3 class="strength-card__header">Quality</h3>
            <p class="strength-card__text">The highest quality is above all. We pay attention to every detail in everything we produce to exceed clients' expectations and to guarantee they leave us inspired and satisfied each time.</p>
        </article>
        <article class="strength-card">
            <div class="strength-card__image-container">
                <img width="40" class="strength-card__image" src="img/thumb-up.svg" alt="Thumb up">
            </div>
            <h3 class="strength-card__header">Quality</h3>
            <p class="strength-card__text">The highest quality is above all. We pay attention to every detail in everything we produce to exceed clients' expectations and to guarantee they leave us inspired and satisfied each time.</p>
        </article>
        <article class="strength-card">
            <div class="strength-card__image-container">
                <img width="40" class="strength-card__image" src="img/thumb-up.svg" alt="Thumb up">
            </div>
            <h3 class="strength-card__header">Quality</h3>
            <p class="strength-card__text">The highest quality is above all. We pay attention to every detail in everything we produce to exceed clients' expectations and to guarantee they leave us inspired and satisfied each time.</p>
        </article>
    </div>
</section>
